<mat-card class="employee">
  <mat-card-header>
    <mat-card-title>{{employee.lastName}}, {{employee.firstName}}</mat-card-title>
    <mat-card-subtitle>Employee ID: {{employee.id}}</mat-card-subtitle>
    <mat-card-subtitle>Total Reports: {{reportArray.length}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Job Title: {{employee.position}}</p>
  </mat-card-content>
  <mat-card-content *ngIf="directReportArray.length !== 0">
    <p><br>Direct Report(s): </p>
    <mat-list>
      <mat-list-item *ngFor="let e of directReportArray">
        <p matListItemTitle>{{e.lastName}}, {{e.firstName}}</p>
        <button mat-icon-button color="primary" (click)="onEditClick(e)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="onDeleteClick(e)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
