<div *ngIf="actionType === 2">
  <h1 mat-dialog-title>Edit Employee ID: {{employee.id}}</h1>
  <div mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput required type="text" formControlName="lastName">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput required type="text" formControlName="firstName">
    </mat-form-field>
    <mat-form-field  appearance="outline">
      <mat-label>Position</mat-label>
      <input matInput required type="text" formControlName="position">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Compensation</mat-label>
      <input matInput required type="number" formControlName="compensation">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()" cdkFocusInitial>No</button>
    <button mat-button [mat-dialog-close]="this.form.value" [disabled]="form.status==='INVALID'" color="warn">Update</button>
  </div>
</div>

<div *ngIf="actionType === 3">
  <h1 mat-dialog-title>Delete Employee ID: {{employee.id}}</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to delete Employee: {{employee.lastName}}, {{employee.firstName}}?</p>
    <p>This action cannot be undone.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()" color="basic" cdkFocusInitial>No</button>
    <button mat-button [mat-dialog-close]="data.employee" color="warn" >Yes</button>
  </div>
</div>
